In [1]:
import pandas as pd
import numpy as np

In [2]:
books=pd.read_csv('data/Books.csv')
users=pd.read_csv('data/Users.csv')
ratings=pd.read_csv('data/Ratings.csv')

C:\Users\djdeb\AppData\Local\Temp\ipykernel_16180\547230306.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('data/Books.csv')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
print(f"Total Books: {books.shape}")
print(f"Total Users: {users.shape}")
print(f"Total Ratings: {ratings.shape}")

Total Books: (271360, 8)
Total Users: (278858, 3)
Total Ratings: (1149780, 3)

In [9]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
books.duplicated().sum()

0

In [13]:
users.duplicated().sum()

0

In [14]:
ratings.duplicated().sum()

0

# EDA

# Popularity Based Recommender System

top 50 books having highest avg ratings, minimum 250 ratings

In [16]:
rating_with_bookName=ratings.merge(books,on='ISBN')

In [17]:
rating_with_bookName.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [26]:
rating_with_bookName.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   ISBN                 1031136 non-null  object
 2   Book-Rating          1031136 non-null  int64
 3   Book-Title           1031136 non-null  object
 4   Book-Author          1031134 non-null  object
 5   Year-Of-Publication  1031136 non-null  object
 6   Publisher            1031134 non-null  object
 7   Image-URL-S          1031136 non-null  object
 8   Image-URL-M          1031136 non-null  object
 9   Image-URL-L          1031132 non-null  object
dtypes: int64(2), object(8)
memory usage: 78.7+ MB

In [29]:
rating_with_bookName.isnull().sum()

User-ID                0
ISBN                   0
Book-Rating            0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
dtype: int64

In [22]:
num_ratings_with_bookName=rating_with_bookName.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_ratings_with_bookName.rename(columns={'Book-Rating':'Num-Ratings'},inplace=True)
num_ratings_with_bookName

                                               Book-Title  Num-Ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [30]:
rating_with_bookName['Book-Rating']=rating_with_bookName['Book-Rating'].astype('int')

In [36]:
avg_ratings_with_bookName=rating_with_bookName.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_ratings_with_bookName.rename(columns={'Book-Rating':'Avg-Ratings'},inplace=True)
avg_ratings_with_bookName

                                               Book-Title  Avg-Ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [40]:
avg_ratings_with_bookName[avg_ratings_with_bookName['Avg-Ratings']>=10]

                                               Book-Title  Avg-Ratings
6                                            Dark Justice         10.0
59                      'California Historical Landmarks'         10.0
64      'Isms: a dictionary of words ending in -ism, -...         10.0
74                      'Round the Corner (Sister Circle)         10.0
119                     006781: Bk.1 Gags De Boule Et Bil         10.0
...                                                   ...          ...
240972                                    fÃ?Â¼nfter sein         10.0
241020                                    touch the flame         10.0
241035  Ã? sucesso solo 50 anni fa: Lo sterminio di se...         10.0
241047                                              Ã?Â?a         10.0
241059  Ã?Â?berallnie. AusgewÃ?Â¤hlte Gedichte 1928 - ...         10.0

[11760 rows x 2 columns]

In [42]:
popular_df=num_ratings_with_bookName.merge(avg_ratings_with_bookName,on='Book-Title')
popular_df

,Book-Title,Num-Ratings,Avg-Ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [49]:
most_popular_df=popular_df[popular_df['Num-Ratings']>=200].sort_values(by='Avg-Ratings',ascending=False).head(50)

In [57]:
final_popular_df=most_popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Num-Ratings','Avg-Ratings','Year-Of-Publication','Image-URL-M']]

In [59]:
final_popular_df=final_popular_df.reset_index(drop=True)
final_popular_df

,Book-Title,Book-Author,Num-Ratings,Avg-Ratings,Year-Of-Publication,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,1999,http://images.amazon.com/images/P/0439136350.0...
1,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,2000,http://images.amazon.com/images/P/0439139597.0...
2,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410,1998,http://images.amazon.com/images/P/0590353403.0...
3,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441,2003,http://images.amazon.com/images/P/043935806X.0...
4,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,249,5.409639,1992,http://images.amazon.com/images/P/0312853238.0...
5,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453,2000,http://images.amazon.com/images/P/0439064872.0...
6,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,281,5.007117,1986,http://images.amazon.com/images/P/0345339681.0...
7,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,368,4.948370,1986,http://images.amazon.com/images/P/0345339703.0...
8,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,575,4.895652,1999,http://images.amazon.com/images/P/059035342X.0...
9,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,260,4.880769,1986,http://images.amazon.com/images/P/0345339711.0...
10,To Kill a Mockingbird,Harper Lee,510,4.700000,1988,http://images.amazon.com/images/P/0446310786.0...
11,The Da Vinci Code,Dan Brown,898,4.642539,2003,http://images.amazon.com/images/P/0385504209.0...
12,The Five People You Meet in Heaven,Mitch Albom,430,4.551163,2003,http://images.amazon.com/images/P/0786868716.0...
13,The Catcher in the Rye,J.D. Salinger,449,4.545657,1991,http://images.amazon.com/images/P/0316769487.0...
14,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,211,4.497630,1986,http://images.amazon.com/images/P/0345339738.0...
15,The Lovely Bones: A Novel,Alice Sebold,1295,4.468726,2002,http://images.amazon.com/images/P/0316666343.0...
16,The Great Gatsby,F. Scott Fitzgerald,205,4.458537,1999,http://images.amazon.com/images/P/185326041X.0...
17,1984,George Orwell,284,4.454225,1990,http://images.amazon.com/images/P/0451524934.0...
18,Prodigal Summer: A Novel,Barbara Kingsolver,253,4.450593,2001,http://images.amazon.com/images/P/0060959037.0...
19,Neverwhere,Neil Gaiman,265,4.449057,1998,http://images.amazon.com/images/P/0380789019.0...
20,The Secret Life of Bees,Sue Monk Kidd,774,4.447028,2003,http://images.amazon.com/images/P/0142001740.0...
21,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,283,4.356890,2002,http://images.amazon.com/images/P/0060392452.0...
22,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,493,4.354970,1997,http://images.amazon.com/images/P/0385484518.0...
23,The Red Tent (Bestselling Backlist),Anita Diamant,723,4.334716,1998,http://images.amazon.com/images/P/0312195516.0...
24,Brave New World,Aldous Huxley,226,4.331858,1989,http://images.amazon.com/images/P/0060809833.0...
25,The Hitchhiker's Guide to the Galaxy,Douglas Adams,268,4.328358,1982,http://images.amazon.com/images/P/0671461494.0...
26,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,335,4.289552,2002,http://images.amazon.com/images/P/0805063897.0...
27,The Tao of Pooh,Benjamin Hoff,211,4.289100,1983,http://images.amazon.com/images/P/0140067477.0...
28,Animal Farm,George Orwell,233,4.274678,2004,http://images.amazon.com/images/P/0451526341.0...
29,Into the Wild,Jon Krakauer,252,4.273810,1997,http://images.amazon.com/images/P/0385486804.0...
30,Fahrenheit 451,Ray Bradbury,409,4.264059,1994,http://images.amazon.com/images/P/3257208626.0...
31,A Walk in the Woods: Rediscovering America on ...,Bill Bryson,205,4.243902,1999,http://images.amazon.com/images/P/0767902521.0...
32,Girl with a Pearl Earring,Tracy Chevalier,526,4.218631,2001,http://images.amazon.com/images/P/0452282152.0...
33,Night,Elie Wiesel,202,4.217822,1982,http://images.amazon.com/images/P/0553272535.0...
34,Outlander,DIANA GABALDON,283,4.173145,1996,http://images.amazon.com/images/P/0440222915.0...
35,"The Subtle Knife (His Dark Materials, Book 2)",PHILIP PULLMAN,225,4.124444,2002,http://images.amazon.com/images/P/0375823468.0...
36,The Color of Water: A Black Man's Tribute to H...,James McBride,223,4.107623,1997,http://images.amazon.com/images/P/1573225789.0...
37,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,585,4.105983,1998,http://images.amazon.com/images/P/0446672211.0...
38,Seabiscuit: An American Legend,LAURA HILLENBRAND,275,4.098182,2002,http://images.amazon.com/images/P/0449005615.0...
39,Life of Pi,Yann Martel,664,4.088855,2002,http://images.amazon.com/images/P/0151008116.0...
40,The Bean Trees,Barbara Kingsolver,389,4.087404,1989,http://images.amazon.com/images/P/0060915544.0...
41,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,265,4.086792,1995,http://images.amazon.com/images/P/1558743669.0...
42,ANGELA'S ASHES,Frank McCourt,279,4.075269,1996,http://images.amazon.com/images/P/0684874350.0...
43,High Fidelity,Nick Hornby,247,4.056680,1996,http://images.amazon.com/images/P/1573225517.0...
44,Good in Bed,Jennifer Weiner,490,4.055102,2002,http://images.amazon.com/images/P/0743418174.0...
45,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,321,4.037383,2002,http://images.amazon.com/images/P/0060938455.0...
46,American Gods,Neil Gaiman,302,4.006623,2002,http://images.amazon.com/images/P/0380789035.0...
47,Skipping Christmas,JOHN GRISHAM,322,4.006211,2001,http://images.amazon.com/images/P/0385505833.0...
48,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,318,4.003145,1996,http://images.amazon.com/images/P/0842329129.0...
49,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,336,4.000000,2002,http://images.amazon.com/images/P/037582345X.0...

# Collaborative Filtering Based Recommender System

users give more than 200 books reviews, books that gain atleast 50 ratings from users

In [96]:
rating_with_bookName.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...

In [80]:
x=rating_with_bookName.groupby('User-ID').count()['Book-Rating']>=200
x=x[x]

In [88]:
genuine_users=x.index

In [94]:
filtered_ratings=rating_with_bookName[rating_with_bookName['User-ID'].isin(genuine_users)]

In [103]:
y=filtered_ratings.groupby('Book-Title').count()['Book-Rating']>50
famous_books=y[y].index

In [106]:
final_ratings_df=filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [109]:
pt=final_ratings_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)

In [110]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [111]:
from sklearn.metrics.pairwise import cosine_similarity

In [113]:
Simialrity_matrix=cosine_similarity(pt)

In [115]:
Simialrity_matrix.shape

(683, 683)

In [119]:
Simialrity_matrix

array([[1.        , 0.0999137 , 0.01189468, ..., 0.11799012, 0.07158663,
        0.04205081],
       [0.0999137 , 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01189468, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.11799012, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07158663, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04205081, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [189]:
def recommend(book_name):
    # fetch index
    book_index=np.where(pt.index==book_name)[0][0]
    similar_books_index=sorted(list(enumerate(Simialrity_matrix[book_index,:])),key=lambda x:x[1],reverse=True)[1:6]
    suggested_books=[]
    for book in similar_books_index:
        suggested_books.append(pt.index[book[0]])
        temp_df=books[books['Book-Title']==pt.index[book[0]]]
        print(temp_df.drop_duplicates('Book-Title')['Book-Author'])
    return suggested_books

1. fetch book index
2. top 5 similar books
3. books index
4. books name using index

In [190]:
recommend('1984')

285    George Orwell
Name: Book-Author, dtype: object
1985    Margaret Atwood
Name: Book-Author, dtype: object
4114    Aldous Huxley
Name: Book-Author, dtype: object
608    ANNE RICE
Name: Book-Author, dtype: object
1511    Michael Cunningham
Name: Book-Author, dtype: object

['Animal Farm',
 "The Handmaid's Tale",
 'Brave New World',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Hours : A Novel']

In [125]:
np.where(pt.index=='1984')[0][0]

0

In [181]:
sorted(list(enumerate(Simialrity_matrix[1,:])),key=lambda x:x[1],reverse=True)[1:6]

[(38, 0.30746647647493613),
 (396, 0.2827397366387593),
 (372, 0.2780357116802063),
 (644, 0.2776809645250099),
 (295, 0.2715497227877098)]

In [198]:
def recommend_main(book_name):
    # fetch index
    book_index=np.where(pt.index==book_name)[0][0]
    similar_books_index=sorted(list(enumerate(Simialrity_matrix[book_index,:])),key=lambda x:x[1],reverse=True)[1:6]
    suggested_books=[]
    for book in similar_books_index:
        data=[]
#         suggested_books.append(pt.index[book[0]])
        temp_df=books[books['Book-Title']==pt.index[book[0]]]
        data.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        data.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        data.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
#         data.append(temp_df.drop_duplicates('Book-Title')['Book-Author'])
#         data.append(temp_df.drop_duplicates('Book-Title')['Book-Author'])
        suggested_books.append(data)
    
    return suggested_books

In [199]:
recommend_main('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg']]